* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .form-field input {
    border: none;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }
  
  .form-field button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-field button:hover {
    background-color: #0069d9;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
  }

  .square {
    width: 50px;
    height: 50px;
    background-color: red;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
  
    0% {
        background-color: red;
      }
      20% {
        background-color: orange;
      }
      40% {
        background-color: yellow;
      }
      60% {
        background-color: green;
      }
      80% {
        background-color: blue;
      }
      100% {
        background-color: violet;
        transform: rotate(360deg);
          
      }
  }

  .rabbit {
    width: 100px;
    height: 100px;
    animation: hop 2s linear infinite;
  }
  
  @keyframes hop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  
